CLOUD_BASE_URL=
STORE_ID=
EDGE_TOKEN=
AGENT_ID=
HEARTBEAT_INTERVAL_SECONDS=
CAMERA_HEARTBEAT_INTERVAL_SECONDS=
DASHBOARD_URL=
AUTO_UPDATE_ENABLED=0
UPDATE_CHANNEL=stable
UPDATE_GITHUB_REPO=
UPDATE_INTERVAL_SECONDS=
